########################
#######  Header ########
########################

/* header-隐藏顶部线条 */
.headband {
  display: none;
}

/* header-顶部空白 */
.header {
  margin-top: 10px;

  +mobile() {
    margin-top: 0;
  }
}

/* header-顶部圆角 */
.header-inner {
  myradius();

  +mobile() {
    border-radius: 0 0 $myradius $myradius ;
  }
}

/* header-页面背景 */
body {
  background-image: url(/images/background.jpg);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;

  /* @media (prefers-color-scheme: dark) {
    background-image: none;
  } */

}

/* sidebar-圆角 */
.sidebar-inner, //侧边
.sub-menu { //二级菜单
    ();
}

/* post-文章卡片圆角 */
.post-block,
.post-block+.post-block {
  myradius();
}